* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 5fr 55px;
}

#mainContainer {
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.icon {
  cursor: pointer;
}

/*  */
/* HEADER */
/*  */
#headerContainer {
  display: grid;
  background-color: lightgreen;
}

.title {
  font-size: 60px;
  align-self: center;
}

/*  */
/* SIDEBAR */
/*  */
.sidebar {
  background-color: lightblue;
  font-size: 30px;
  display: grid;
  padding-left: 15%;
  padding-bottom: 15%;
}

.sidebar ul {
  padding-top: 2rem;
}

.sidebar ul > li {
  list-style: none;
  padding: 0rem 1rem 0.5rem;
}

.sidebar a {
  cursor: pointer;
}

.addNew {
  width: 15%;
  align-self: flex-end;
}

/*  */
/* MAIN */
/*  */
.main {
  background-color: aqua;
}

.taskHeaders {
  display: grid;
  font-size: 1.1rem;
  grid-template-columns: 4fr 11% 16%;
  padding-left: 5%;
  padding-right: 1%;
}

.tasks {
  display: grid;
  row-gap: 6%;
  padding-top: 4%;
}

.taskList {
  display: grid;
  grid-template-columns: 15px 4fr 10% 10% 2%;
  height: 2.5rem;
  align-content: center;
  background-color: lightgray;
  margin: 0% 4%;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 0.84rem;
}

.taskList input {
  width: 10px;
}

.cards {
  line-height: 35px;
}

.taskList h3 {
  padding-left: 2%;
}

.rightSide {
  justify-self: center;
}

.removeBtn {
  align-self: center;
  width: 20px;
  padding-right: 2%;
}

/*  */
/* COMPLETED TASKS */
/*  */

/* .completeTask {
  text-decoration: line-through;
  color: rgb(128, 128, 128, 0.6);
} */

/*  */
/* FOOTER */
/*  */
#footerContainer {
  background-color: yellow;
  display: grid;
}

.footer {
  align-self: center;
  justify-self: center;
}

/*  */
/* Form */
/*  */

.taskTitle {
  text-align: center;
  padding-bottom: 5%;
  text-decoration: underline;
}

.formContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(26, 26, 26, 0.9);
}

#form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  border-radius: 20px;
}

.container {
  grid-area: 2 / 2 / 3 / 3;
  justify-content: center;
}

.container label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 2%;
  font-weight: bold;
}

.row5 {
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
}

.row1,
.row2,
.row3 {
  padding-bottom: 5%;
}
