* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 5fr 55px;
}

#mainContainer {
  display: grid;
  grid-template-columns: 25rem 1fr;
}

/*  */
/* HEADER */
/*  */
#headerContainer {
  display: grid;
  background-color: lightgreen;
}

.title {
  font-size: 60px;
  align-self: center;
}

/*  */
/* SIDEBAR */
/*  */
.sidebar {
  background-color: lightblue;
  font-size: 30px;
  /* grid-area: 1 / 1 / 2 / 2; */
}

.sidebar ul {
  padding-top: 2rem;
}

.sidebar ul > li {
  list-style: none;
  padding: 0rem 3rem 0.5rem;
}

.sidebar a {
  cursor: pointer;
}

/*  */
/* MAIN */
/*  */
.main {
  background-color: aqua;
}

.taskHeaders {
  display: grid;
  font-size: 20px;
  grid-template-columns: 4fr 11% 16%;
}

.tasks {
  display: grid;
  row-gap: 6%;
  padding-top: 4%;
}

.taskList {
  display: grid;
  grid-template-columns: 4fr 10% 14%;
  height: 2.5rem;
  align-content: center;
  background-color: lightgray;
  margin: 0% 4%;
}

.taskList h3 {
  padding-left: 5%;
}

.taskHeaders h3 {
  padding-left: 7%;
}

.taskList h5,
.taskHeaders h3 {
  padding-right: 5%;
}

.cards {
  line-height: 35px;
}

.rightSide {
  justify-self: center;
}

/*  */
/* FOOTER */
/*  */
#footerContainer {
  background-color: yellow;
  display: grid;
}

.footer {
  align-self: center;
  justify-self: center;
}
